<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true" colors="true" convertErrorsToExceptions="true" processIsolation="true" beStrictAboutChangesToGlobalState="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" testdox="true" backupGlobals="false" stopOnError="true" stopOnFailure="true">

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
